### Project to build a house prediction algorithm for house prices in bangalore

In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

Set the matplotlib parameter for figure size and turn on in line display

In [79]:
%matplotlib inline
matplotlib.rcParams["figure.figsize"] = (20, 10)

Import the SKLearn modules compare linear models to decision trees

In [80]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

Read in the housing price dataset

In [81]:
df = pd.read_csv("./Bengaluru_House_Data.csv")
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

### Exploratory Data Analysis

In [82]:
df.shape

(13320, 9)

In [83]:
# Check the column names and data types - note that total_sqft is not interpreted as numeric
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [84]:
# Print summary statistics for all numerical dimensions of the dataframe
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [85]:
# use include = "all" to decribe all features including categorical
# This will show some categorical statistics i.e. unique values & frequency of the common data
df.describe(include = "all")

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
count,13320,13320,13319,13304,7818,13320,13247.000000,12711.000000,13320.000000
unique,4,81,1305,31,2688,2117,NaN,NaN,NaN
top,Super built-up Area,Ready To Move,Whitefield,2 BHK,GrrvaGr,1200,NaN,NaN,NaN
freq,8790,10581,540,5199,80,843,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,2.692610,1.584376,112.565627
std,NaN,NaN,NaN,NaN,NaN,NaN,1.341458,0.817263,148.971674
min,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,8.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,1.000000,50.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,72.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,2.000000,120.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,40.000000,3.000000,3600.000000

In [86]:
# Count the number of missing values in each column
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [87]:
# Examining area type
df.groupby("area_type")["area_type"].agg("count")

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

Since availability does not effect the house price - the house will cost the same regardless of when the inhabitant is ready to move - we can remove this feature. <br>
Society is missing values for 5.5k observations so, at least for a first pass, we can remove society as this will limit our data after removing null value observations. <br>
Balcony should remain as this could have an effect on house price - rather than drop obeservations with missing balcony information, we can instead examine and input approriate values i.e. null = zero.

In [88]:
# Drop the columns
df = df.drop(['availability', 'society'], axis = "columns")

In [89]:
df.shape

(13320, 7)

In [90]:
df['balcony'].fillna(0, inplace=True)

In [91]:
df.isnull().sum()

area_type      0
location       1
size          16
total_sqft     0
bath          73
balcony        0
price          0
dtype: int64

Now that the balcony NaNs have been converted to zeroes, we can now drop the observations with null values in location, size, bath.

In [92]:
df = df.dropna()

In [93]:
df.shape

(13246, 7)

### Feature Engineering

Examining the size dimension

In [94]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

We can see that every value is in the form r'/d+/s/w+.
With this, we can see that there are 2 different methods of declaring the size of the apartment but for our purposes, just an integer will be sufficient.

In [95]:
df['beds'] = df['size'].apply(lambda x: int(x.split(" ")[0]))

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13246 entries, 0 to 13319
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13246 non-null  object
 1   location    13246 non-null  object
 2   size        13246 non-null  object
 3   total_sqft  13246 non-null  object
 4   bath        13246 non-null  float64
 5   balcony     13246 non-null  float64
 6   price       13246 non-null  float64
 7   beds        13246 non-null  int64
dtypes: float64(3), int64(1), object(4)
memory usage: 931.4+ KB

In [97]:
df.head()

,area_type,location,size,total_sqft,bath,balcony,price,beds
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00,2

Examining the total_sqft dimension

In [98]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

As we can see by examining both the dataframe information and the unique values, there is a mixture of string and numeric values in the size column.<br>
As a first step towards standardising the format, we need to examine the different ways that size is represented.

In [99]:
# Function to test whether a value is numeric and can be coerced to float
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [100]:
# Apply the function to the total_sqft dimension and filter the result set to show non-numeric values.
df[~df['total_sqft'].apply(is_float)].head(20)

,area_type,location,size,total_sqft,bath,balcony,price,beds
30,Super built-up Area,Yelahanka,4 BHK,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,Hebbal,4 BHK,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,8th Phase JP Nagar,2 BHK,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,Sarjapur,2 BHK,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,KR Puram,2 BHK,1015 - 1540,2.0,0.0,56.800,2
410,Super built-up Area,Kengeri,1 BHK,34.46Sq. Meter,1.0,0.0,18.500,1
549,Super built-up Area,Hennur Road,2 BHK,1195 - 1440,2.0,0.0,63.770,2
648,Built-up Area,Arekere,9 Bedroom,4125Perch,9.0,0.0,265.000,9
661,Super built-up Area,Yelahanka,2 BHK,1120 - 1145,2.0,0.0,48.130,2
672,Built-up Area,Bettahalsoor,4 Bedroom,3090 - 5002,4.0,0.0,445.000,4
772,Super built-up Area,Banashankari Stage VI,2 BHK,1160 - 1195,2.0,0.0,59.935,2
775,Built-up Area,Basavanagara,1 BHK,1000Sq. Meter,2.0,1.0,93.000,1
850,Super built-up Area,Bannerghatta Road,2 BHK,1115 - 1130,2.0,0.0,58.935,2
872,Super built-up Area,Singapura Village,2 BHK,1100Sq. Yards,2.0,0.0,45.000,2
886,Super built-up Area,Chandapura,1 BHK,520 - 645,1.0,0.0,15.135,1
927,Super built-up Area,Thanisandra,2 BHK,1000 - 1285,2.0,0.0,43.415,2
959,Super built-up Area,Kammasandra,1 BHK,650 - 665,1.0,0.0,18.410,1
990,Super built-up Area,Sarjapur,1 BHK,633 - 666,1.0,0.0,17.535,1
1019,Plot Area,Marathi Layout,1 Bedroom,5.31Acres,1.0,0.0,110.000,1
1086,Plot Area,Narasapura,2 Bedroom,30Acres,2.0,2.0,29.500,2

There are a number of different formats that total_sqft is being represented but essentially there are 2 challenges to processing.<br>
    <li>1. The case where we have 2 numeric values separated using a hyphen.
    <li>2. The case where we have a numeric value followed by text. Note that in this case the unit described in the text is not consistent with sqft. <br><br>
For case 1, we will take each value, split to a pair and find the mean between the 2 values.<br>
For case 2, we will examine the quantity of remaining values and decide whether to process further or just drop from our data for the sake of simplicity.

In [101]:
# Function to split the text into 2 numbers and find the average
def convert_sqft_to_number(x):
    tokens = x.split("-")
    if len(tokens) == 2:
        return (float(tokens[0]) + float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [102]:
# Apply convert_sqft_to_number to the total_sqft column as a first solve for case 1.
df['sqft'] = df['total_sqft'].apply(convert_sqft_to_number)

Examining the newly formed head, we can see that the sqft column has replaced the case 1 values with numerics. <br>
Now we can look a little closer at the case 2 values to determine if more processing if necessary.

In [105]:
df[~df['total_sqft'].apply(is_float)].head(20)

,area_type,location,size,total_sqft,bath,balcony,price,beds,sqft
30,Super built-up Area,Yelahanka,4 BHK,2100 - 2850,4.0,0.0,186.000,4,2475.0
122,Super built-up Area,Hebbal,4 BHK,3067 - 8156,4.0,0.0,477.000,4,5611.5
137,Super built-up Area,8th Phase JP Nagar,2 BHK,1042 - 1105,2.0,0.0,54.005,2,1073.5
165,Super built-up Area,Sarjapur,2 BHK,1145 - 1340,2.0,0.0,43.490,2,1242.5
188,Super built-up Area,KR Puram,2 BHK,1015 - 1540,2.0,0.0,56.800,2,1277.5
410,Super built-up Area,Kengeri,1 BHK,34.46Sq. Meter,1.0,0.0,18.500,1,NaN
549,Super built-up Area,Hennur Road,2 BHK,1195 - 1440,2.0,0.0,63.770,2,1317.5
648,Built-up Area,Arekere,9 Bedroom,4125Perch,9.0,0.0,265.000,9,NaN
661,Super built-up Area,Yelahanka,2 BHK,1120 - 1145,2.0,0.0,48.130,2,1132.5
672,Built-up Area,Bettahalsoor,4 Bedroom,3090 - 5002,4.0,0.0,445.000,4,4046.0
772,Super built-up Area,Banashankari Stage VI,2 BHK,1160 - 1195,2.0,0.0,59.935,2,1177.5
775,Built-up Area,Basavanagara,1 BHK,1000Sq. Meter,2.0,1.0,93.000,1,NaN
850,Super built-up Area,Bannerghatta Road,2 BHK,1115 - 1130,2.0,0.0,58.935,2,1122.5
872,Super built-up Area,Singapura Village,2 BHK,1100Sq. Yards,2.0,0.0,45.000,2,NaN
886,Super built-up Area,Chandapura,1 BHK,520 - 645,1.0,0.0,15.135,1,582.5
927,Super built-up Area,Thanisandra,2 BHK,1000 - 1285,2.0,0.0,43.415,2,1142.5
959,Super built-up Area,Kammasandra,1 BHK,650 - 665,1.0,0.0,18.410,1,657.5
990,Super built-up Area,Sarjapur,1 BHK,633 - 666,1.0,0.0,17.535,1,649.5
1019,Plot Area,Marathi Layout,1 Bedroom,5.31Acres,1.0,0.0,110.000,1,NaN
1086,Plot Area,Narasapura,2 Bedroom,30Acres,2.0,2.0,29.500,2,NaN

In [112]:
missing_sqft = df['sqft'].isnull().sum()
print(f'Number of values: {missing_sqft}, this is {missing_sqft/df.shape[0]:.4f}%')

Number of values: 46, this is 0.0035%

With such a small number of instances, there benefit to developing regex to parse and functions to calculate the sqft value from the various units that were provided will have limited utility. <br> In future iterations, with a larger sample size and increased volume of case 2 values, there may be justification to develop this functionality. <br>For now, we can drop these rows and continue our analysis.

In [115]:
df.dropna(inplace = True)

In [116]:
missing_sqft = df['sqft'].isnull().sum()
print(f'Number of values: {missing_sqft}, this is {missing_sqft/df.shape[0]:.4f}%')

Number of values: 0, this is 0.0000%

All missing values have been dropped from the dataframe.

At this point, we can drop the total_sqft and size dimensions as we have processed these to extract the most useful information.

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13200 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13200 non-null  object
 1   location    13200 non-null  object
 2   size        13200 non-null  object
 3   total_sqft  13200 non-null  object
 4   bath        13200 non-null  float64
 5   balcony     13200 non-null  float64
 6   price       13200 non-null  float64
 7   beds        13200 non-null  int64
 8   sqft        13200 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 1.0+ MB

In [119]:
df.drop(['size', 'total_sqft'], axis = 1, inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13200 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   area_type  13200 non-null  object
 1   location   13200 non-null  object
 2   bath       13200 non-null  float64
 3   balcony    13200 non-null  float64
 4   price      13200 non-null  float64
 5   beds       13200 non-null  int64
 6   sqft       13200 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 825.0+ KB

Now we can add a price per sqft dimension.

In [121]:
df['price_sqft'] = df['sqft'] / df['price']
df.head()

,area_type,location,bath,balcony,price,beds,sqft,price_sqft
0,Super built-up Area,Electronic City Phase II,2.0,1.0,39.07,2,1056.0,27.028411
1,Plot Area,Chikka Tirupathi,5.0,3.0,120.00,4,2600.0,21.666667
2,Built-up Area,Uttarahalli,2.0,3.0,62.00,3,1440.0,23.225806
3,Super built-up Area,Lingadheeranahalli,3.0,1.0,95.00,3,1521.0,16.010526
4,Super built-up Area,Kothanur,2.0,1.0,51.00,2,1200.0,23.529412

Examining the location dimension.

In [123]:
# Remove leading and trailing whitespace
df['location'] = df['location'].str.strip()

In [129]:
# Get the frequency of each location
location_counts = df['location'].value_counts()
print(location_counts)

Whitefield                        533
Sarjapur  Road                    392
Electronic City                   304
Kanakpura Road                    264
Thanisandra                       235
                                 ...
Nanjappa Layout Vidyaranyapura      1
Bapuji Nagar                        1
Agara Village                       1
Geetanjali Layout                   1
Badrappa Layout                     1
Name: location, Length: 1287, dtype: int64

We can see that there are 1287 unique locations in our data.<br>
To reduce this number, we can group low frequency locations with an umbrella label, in this case "Other", where frequency of occurence is less than 10.

In [131]:
# How many locations appear less than 10 times
print(len(location_counts[location_counts <= 10]))
locations_less_than_10 = location_counts[location_counts <= 10]

1047

In [132]:
df['location'] = df['location'].apply(lambda x: "Other" if x in locations_less_than_10 else x)

In [135]:
df['location'].value_counts()

Other                        2872
Whitefield                    533
Sarjapur  Road                392
Electronic City               304
Kanakpura Road                264
                             ...
Kodigehalli                    11
Narayanapura                   11
Nehru Nagar                    11
Marsur                         11
2nd Phase Judicial Layout      11
Name: location, Length: 241, dtype: int64

Now we have 241 unique values and no instances of locations with a frequency of <= 10.

In [137]:
df.head(20)

,area_type,location,bath,balcony,price,beds,sqft,price_sqft
0,Super built-up Area,Electronic City Phase II,2.0,1.0,39.07,2,1056.0,27.028411
1,Plot Area,Chikka Tirupathi,5.0,3.0,120.00,4,2600.0,21.666667
2,Built-up Area,Uttarahalli,2.0,3.0,62.00,3,1440.0,23.225806
3,Super built-up Area,Lingadheeranahalli,3.0,1.0,95.00,3,1521.0,16.010526
4,Super built-up Area,Kothanur,2.0,1.0,51.00,2,1200.0,23.529412
5,Super built-up Area,Whitefield,2.0,1.0,38.00,2,1170.0,30.789474
6,Super built-up Area,Old Airport Road,4.0,0.0,204.00,4,2732.0,13.392157
7,Super built-up Area,Rajaji Nagar,4.0,0.0,600.00,4,3300.0,5.500000
8,Super built-up Area,Marathahalli,3.0,1.0,63.25,3,1310.0,20.711462
9,Plot Area,Other,6.0,0.0,370.00,6,1020.0,2.756757
10,Super built-up Area,Whitefield,2.0,2.0,70.00,3,1800.0,25.714286
11,Plot Area,Whitefield,5.0,3.0,295.00,4,2785.0,9.440678
12,Super built-up Area,7th Phase JP Nagar,2.0,1.0,38.00,2,1000.0,26.315789
13,Built-up Area,Gottigere,2.0,2.0,40.00,2,1100.0,27.500000
14,Plot Area,Sarjapur,3.0,2.0,148.00,3,2250.0,15.202703
15,Super built-up Area,Mysore Road,2.0,2.0,73.50,2,1175.0,15.986395
16,Super built-up Area,Bisuvanahalli,3.0,2.0,48.00,3,1180.0,24.583333
17,Super built-up Area,Raja Rajeshwari Nagar,3.0,3.0,60.00,3,1540.0,25.666667
18,Super built-up Area,Other,4.0,2.0,290.00,3,2770.0,9.551724
19,Super built-up Area,Other,2.0,2.0,48.00,2,1100.0,22.916667